[submodule "external/better-enums"]
	path = external/better-enums
	url = https://github.com/aantron/better-enums
[submodule "external/dlmalloc"]
	path = external/dlmalloc
	url = https://github.com/Vita3K/dlmalloc
[submodule "external/elfio"]
	path = external/elfio
	url = https://github.com/serge1/ELFIO
[submodule "external/imgui_club"]
	path = external/imgui_club
	url = https://github.com/ocornut/imgui_club
[submodule "external/libfat16"]
	path = external/libfat16
	url = https://github.com/Vita3K/libfat16
[submodule "external/microprofile"]
	path = external/microprofile
	url = https://github.com/jonasmr/microprofile
[submodule "external/nativefiledialog-cmake"]
	path = external/nativefiledialog-cmake
	url = https://github.com/illusionman1212/nativefiledialog-cmake
[submodule "external/printf"]
	path = external/printf
	url = https://github.com/Vita3K/printf
[submodule "external/sdl2-cmake-scripts"]
	path = external/sdl2-cmake-scripts
	url = https://github.com/tcbrindle/sdl2-cmake-scripts
[submodule "vita3k/shaders-db"]
	path = vita3k/shaders-db
	url = https://github.com/Vita3K/shaders-db
[submodule "external/vita-toolchain"]
	path = external/vita-toolchain
	url = https://github.com/Vita3K/vita-toolchain
